[submodule ".dapple/packages/fut-token"]
	path = .dapple/packages/fut-token
	url = https://github.com/gbalabasquer/fut-token.git
[submodule ".dapple/packages/ds-roles"]
	path = .dapple/packages/ds-roles
	url = https://github.com/nexusdev/ds-roles
[submodule ".dapple/packages/ds-base"]
	path = .dapple/packages/ds-base
	url = https://github.com/gbalabasquer/ds-base
